{{ $config := datasource "config" -}}

{{ $envs := strings.Split " " $config -}}
{{ $tmparray := slice "" -}}
{{ range $envs -}}
{{ $item := . | strings.Trim " \n" -}}
{{ $tmparray = append $item $tmparray -}}
{{ end -}}
{{ $envs := $tmparray | coll.Sort -}}

{{ $keyMaps := coll.Dict }}

{{ range $idenxenv, $env := $envs }}
{{- if eq $idenxenv 0 }}{{continue}}{{end}}
{{- $kebabEnv := $env | strings.ReplaceAll "__" "-" }}
{{- $keys := split $kebabEnv "_" -}}
{{- $value := env.Getenv $env -}}

{{- $combineKey := "" }}
{{- range $index, $key := $keys -}}
    {{- if eq $index 0 -}}
        {{ $combineKey = print $combineKey $key }}
    {{- else -}}
        {{ $combineKey = print $combineKey "_" $key }}
    {{- end -}}

    {{- if eq (index $keyMaps $combineKey) $index -}}
            {{ continue }}
    {{- end -}}

    {{- $keyMap := coll.Dict $combineKey $index }}
    {{- $keyMaps = merge $keyMap $keyMaps }}

    {{- $space := conv.Atoi (mul $index 2) -}}
    {{- $key = printf "%s%s" $key ":" -}}
    {{ $key | strings.Indent $space | strings.ToLower }} {{ if eq  ($keys | len) (add $index 1) }}{{ $value }} {{ end }}
{{ end }}
{{- end }}
